*{
    padding: 0;
    margin: 0;
}

body{
    max-width: 100% !important;
    overflow-x: hidden;
    /* background-image: url(804e093cb66146a2d2fa1abfd346d6b3.jpg); */
    background-color: rgba(0,165,255,0.9);
    background: radial-gradient(circle, rgba(0,165,255,1) 0%, rgba(0,212,255,1) 100%);
    background-repeat: none;
    text-align: center;
    animation: bgblur 2s;
    backdrop-filter: blur(2px);

}

@keyframes bgblur {
    0%
    {
        backdrop-filter: blur(0px);
    }
    
}
img{
    
    margin-top: 5vh;
    
    /* transition: 300ms;
    animation: imgbump 2s;
    animation-delay: 1s; */
    
}

@keyframes imgbump
{
    50%
    {
        transform: scale(0);
    }
    100%
    {
        transform: scale(0);
    }
}


.links{
    text-align: center;
    margin-top: 5vh;
    animation: fadein 1.5s forwards;
    
}

@keyframes fadein
{
    0%
    {
        opacity: 0;
       
    }
    70%
    {
        opacity: 1;
        
    }
}
.links a{
    display: inline-block;
    text-align: center;
    margin: 10px 10px;
    padding: 1vh;
    padding-top: 3vh;
    height: 5vh;
    width: 50vw;
    position: relative;
    text-decoration:none;
    color: white;
    border: 2px solid white;
    font-family: 'Helvetica', sans-serif;
    font-size: 20px;
    font-weight: bold;
    
}

.links a:hover
{
    background-color: white;
    color: rgba(0,165,255,0.9);
    transition: 0.3s;
}

h3{
    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-left: auto;
    font-family: 'Helvetica', sans-serif;
    color: white
}

@media screen and (max-width: 375px)
{
    .links a {
        font-size: 2.5vh;
    }
}